# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Ignorar diretório examples
exemples/

GoTeleMD_test.go

# Arquivos de debug Go
debug

# Arquivos de IDE e editores
.idea/
.vscode/
*.swp
*.swo
*~

# Arquivos de sistema
.DS_Store
Thumbs.db 